<div *ngIf="character">
    <div class="row">
        <div class="col">
            <h2 class="mb-3">{{ character.name | uppercase }} Details</h2>
        </div>
        <div class="col">
            <div class="float-end">
                <button class="btn btn-light" (click)="goBack()">Back</button>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/characters/{{ character.name.split(' ').join('_') }}.png" alt="{{ character.name }}" class="card-img-top img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ character.name }}</h5>
                    <p class="card-text">
                        <a href="https://avatar.fandom.com/wiki/{{ character.name.split(' ').join('_') }}" target="_blank" class="card-link" *ngIf="character.name != 'Buthaka' && character.name != 'Dock/Xue/Bushi'">
                            <small class="text-muted">Avatar Wiki Link</small>
                        </a>
                        <a href="https://avatar.fandom.com/wiki/Butakha" target="_blank" class="card-link" *ngIf="character.name == 'Buthaka'">
                            <small class="text-muted">Avatar Wiki Link</small>
                        </a>
                        <a href="https://avatar.fandom.com/wiki/Dock/Xu/Bushi" target="_blank" class="card-link" *ngIf="character.name == 'Dock/Xue/Bushi'">
                            <small class="text-muted">Avatar Wiki Link</small>
                        </a>
                    </p>
                    <div class="row">
                        <div class="col">
                            <h6>Biographical Information</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngIf="character.aliases.length != 0"><b>Aliases: </b>{{ character.aliases.join(', ') }}</li>
                                <li class="list-group-item" *ngIf="character.ethnicity != ''"><b>Ethnicity: </b>{{ character.ethnicity }}</li>
                                <li class="list-group-item" *ngIf="character.nationality != ''"><b>Nationality: </b>{{ character.nationality }}</li>
                                <li class="list-group-item" *ngIf="character.gender != ''"><b>Gender: </b>{{ character.gender }}</li>
                                <li class="list-group-item" *ngIf="character['year of birth'] != ''"><b>Year of birth: </b>{{ character['year of birth'] }}</li>
                                <li class="list-group-item" *ngIf="character['year of death'] != ''"><b>Year of death: </b>{{ character['year of death'] }}</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h6>Personal Information</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngIf="character.bending.length != 0"><b>Bending: </b>
                                    <!-- {{ character.bending.join(', ') }} -->
                                    <!-- <div class="row">
                                        <div class="col" *ngFor="let bending of character.bending">
                                            <p>
                                                <a routerLink="/bendings/{{ bending }}" *ngIf="['Waterbending', 'Firebending', 'Earthbending', 'Airbending'].includes(bending); else noLink">
                                                    {{ bending }}
                                                </a>
                                                <ng-template #noLink>{{ bending }}</ng-template>
                                            </p>
                                        </div>
                                    </div> -->
                                    <div class="bending-item" *ngFor="let bending of character.bending; last as isLast">
                                        <a routerLink="/bendings/{{ bending }}" *ngIf="['Waterbending', 'Firebending', 'Earthbending', 'Airbending'].includes(bending); else noLink" 
                                        [class.waterbending]="bending == 'Waterbending'"
                                        [class.firebending]="bending == 'Firebending'"
                                        [class.earthbending]="bending == 'Earthbending'"
                                        [class.airbending]="bending == 'Airbending'">
                                            {{ bending }}
                                        </a>
                                        <ng-template #noLink>{{bending}}</ng-template>
                                        
                                        <div class="bending-item" *ngIf="!isLast">| </div>
                                    </div>
                                </li>
                                <li class="list-group-item" *ngIf="character.roles.length != 0"><b>Roles: </b>{{ character.roles.join(', ') }}</li>
                                <li class="list-group-item" *ngIf="character.weapons.length != 0"><b>Weapons: </b>{{ character.weapons.join(', ') }}</li>
                                <li class="list-group-item" *ngIf="character['fighting styles'].length != 0"><b>Fighting styles: </b>{{ character['fighting styles'].join(', ') }}</li>
                                <li class="list-group-item" *ngIf="character.affiliations.length != 0"><b>Affiliations: </b>{{ character.affiliations.join(', ') }}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    <!-- <div><span>Ethnicity: </span>{{ character.ethnicity }}</div> -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
        <label for="name">Name: </label>
        <input type="text" id="name" [(ngModel)]="character.name" placeholder="name">
    </div> -->
</div>
