<app-carousel></app-carousel>

<h2>Top Characters</h2>

<div class="row">
    <div class="col" *ngFor="let character of characters">
        <div class="card bg-dark text-white">
            <a routerLink="/characters/{{ character.name }}" *ngIf="character.name != 'Dock/Xue/Bushi'">
                <img src="../../assets/characters/{{ character.name.split(' ').join('_') }}.png" class="card-img" alt="{{ character.name }}">
                <div class="card-img-overlay">
                    <h5 class="card-title d-none d-md-block">{{ character.name }}</h5>
                </div>
            </a>
          </div>
    </div>
</div>