<h2>Bendings</h2>

<div class="row mx-auto">
    <div class="col-sm-3" *ngFor="let bending of bendings">
        <a routerLink="/bendings/{{ bending.name }}">
            <div class="card mb-3" style="width: 18rem;">
                <img src="../../assets/bendings/{{ bending.name }}.png" class="card-img-top" alt="{{ bending.name }}">
                <div class="card-body"
                    [class.waterbending]="bending.name == 'Waterbending'"
                    [class.firebending]="bending.name == 'Firebending'"
                    [class.earthbending]="bending.name == 'Earthbending'"
                    [class.airbending]="bending.name == 'Airbending'">
                    <h5 class="card-title">
                        {{ bending.name }}
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>